.default-btn{
    appearance:none;
    background-color: black;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    border-top-left-radius:45px;
    border-top-right-radius:45px; 
    box-sizing:border-box;
    color:rgb(255, 255, 255);
    cursor:pointer;
    display:inline-block;
    font-family:AvenirNext-DemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:18px;
    font-style:normal;
    font-weight:400;
    height:20px;    
    
    padding-bottom:4px;
    padding-left:2px;
    padding-right:2px;
    padding-top:1px;
    text-align:center;
    text-decoration-color:#ffffff;
    text-decoration-line:none;
    text-decoration-style:solid;
    transition-delay:0s;
    transition-duration:0.5s;
    transition-property:background-color;
    transition-timing-function:ease;
    width:17.313px;
    -webkit-font-smoothing:antialiased;
    }