<div>
<div class="header-main">
        <div class="block">
         <div class="header-bar" style="padding-left: 100px;">
         <a class="home-img-link"></a>         
         <ul class="header-tabs-ul">      
             <li class="header-tab-li">
                 <a class="header-tab-text" routerLink="/workspace">Workspace Dashboard</a>
             </li>
            <li class="header-tab-li">
                         <a class="header-tab-text">Resources</a>
               </li>
               <li class="header-tab-li">
                       <a class="header-tab-text">Support</a>
             </li>
             <li class="header-tab-li">
                   <a class="button-style">Get Started</a>
         </li>
         <li class="header-tab-li">
               <a class="header-tab-text">Sign In</a>
       </li>
         </ul>
       </div>
         
        </div>
       </div>
    </div>       
